@using System.Globalization;
@using myfinance_web_netcore.Models;
@model TransacaoModel

@{
    ViewData["Title"] = "Registro de Transação Financeira";

    var vData = "";
    var vTipo = "";
    var vDescricao = "";
    var vValor ="";
    var vId = 0;
    var vPlanoContaId = 0;

    try
    {
        vId = int.Parse(@ViewBag.Registro.Id.ToString());
        vData = DateTime.Parse(@ViewBag.Registro.Data.ToString()).ToString("yyy-MM-dd");
        vPlanoContaId = int.Parse(@ViewBag.Registro.IdPlanoConta.ToString());
        vDescricao = @ViewBag.Registro.Historico.ToString();
        vTipo = @ViewBag.Registro.Tipo.ToString();

        CultureInfo invC = CultureInfo.InvariantCulture;
        string value;
        value = @ViewBag.Registro.Valor.ToString(invC);
        vValor = value;
    }
    catch{}

}

<h1> @ViewData["Title"]</h1>

<form asp-controller="Transacao" asp-action="CriarTransacao">
    <input type ="hidden" asp-for ="Id" value=@vId><br>

    <div class="form-group">
        <label>Data:</label>
        <input type ="date" class="form-control" asp-for ="Data" value=@vData><br>
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Tipo:</label>
        <input type ="text" class="form-control" asp-for ="Tipo" value=@vTipo><br>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Valor:</label>
        <input type ="text" class="form-control" asp-for ="Valor" step="0.01" value=@vValor><br>
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Historico:</label>
        @Html.TextArea("Historico",vDescricao, new{@class = "form-control"})
        <span asp-validation-for="Historico" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Plano de Contas:</label>
        <select asp-for ="IdPlanoConta" class ="form-control">
            @{
                foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoContas)
                    {
                       if (item.Id.ToString() == vPlanoContaId.ToString())
                       {
                        <option selected value ="@item.Id.ToString()">@item.Descricao.ToString()</option>
                       }     
                       else
                       {
                        <option value ="@item.Id.ToString()">@item.Descricao.ToString()</option>
                       }

                    }
            }
        </select>
    </div>

    <button type="submit" class="btn btn-block btn-success"> Registrar</button>

</form>    


